*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 114rem;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  background-color: #6930c3;
  font-family: 'Roboto', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border-radius: 0.8rem;
  background-color: #fff;
  width: 50rem;
  padding: 6rem 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_box {
  display: flex;
  flex-direction: column;

  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.form_box label {
  margin-bottom: 0.5rem;
}

.form_box input {
  background-color: #eee;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;

  font-family: inherit;
  font-size: 1.6rem;
}

.form_box input::placeholder {
  font-size: 1.3rem;
}

.form_btn-box {
  text-align: center;
  margin-top: 2rem;
}

.form_btn {
  width: 50%;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 5rem;
  background-color: #76ac4c;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.form_btn:hover {
  background-color: #6ea047;
}

.form_box .message {
  margin: 1rem 0rem 0rem;
}

.success {
  border: 2px solid green;
}

.fail {
  border: 2px solid red;
}

.alert_message-name,
.alert_message-email,
.alert_message-password,
.alert_message-confirm-password {
  display: none;
  color: red;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.complete_message-name,
.complete_message-email,
.complete_message-password,
.complete_message-confirm-password {
  display: none;
  color: green;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
